body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}


article {
    margin: 0;
    padding: 0;
    border: 0 none;
    float: left;
}

section{
    
}

.buttonMove {
    position: fixed;
    background-color: black;
    width: 100px;
    height: 50px;
    color: wheat;
    font-size: 30px;
    
}

#scroolDown {
    bottom: 0px;
}

#scroolUp {
    top: 50px;
    opacity: 0;
}

#scroolLeft {
    margin-top: 50vh;
    left: 0px;
    opacity: 0;
}

#scroolRight {
    margin-top: 50vh;
    right: 0px;
    opacity: 0;
}

nav {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: gray;
    opacity: 0.3;
    z-index: 1;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

nav ul li a:hover {
    color: aqua;
}

section#first-section {
    background-color: antiquewhite;
}

section#second-section {
    background-color: black;
    overflow: hidden;
    width: auto;
    background-image: url(../img/sekcja-2.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
}

.section-two {
    background: grey;
    display: inline-block;
    height: 100vh;
    /*width: 100vw ;*/
}

section#third-section {
    background-image: url(../img/sekcja-3.jpg);
    background-size: cover;
    background-position: center;
}

section#forth-section {
    background-image: url(../img/sekcja-4.jpg);
    background-size: cover;
    background-position: center;
}
